<a href="https://colab.research.google.com/github/DoraNyanko/GoogleColab/blob/main/sec1~2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Sec1

In [ ]:
print("Hello world!")

Hello world!

In [ ]:
x=5
y=2
print(x+y*4)

13

これは**テキストセル**です。
**以下のリンク**から検索エンジンに飛べます。
[google検索](https://google.com)

---

In [ ]:
a =123
print(a)

123

In [ ]:
b=123.45
print(b)

123.45

In [ ]:
C="こんにちは、世界！"
print(C)

こんにちは、世界！

# Sec2
四則演算

In [ ]:
a=7
b=3

c=a+b
d=a-b
e=a*b
f=a/b
g=a//b
h=a%b
print(c,d,e,f,g,h)

10 4 21 2.3333333333333335 2 1

In [ ]:
a= "Hello"
b="World!"
print(a+b)

HelloWorld!

In [ ]:
a=True
b=False

c=3
d=4
e=c>d
print(e)

f=c<d
print(f)

h=c<=d
print(h)

i=c==d
print(i)

j=c!=d
print(j)

False
True
True
False
True

In [ ]:
a=3
b=4
c=5

d=a<b and b<c
print(d)

e=a<b or b>c
print(e)

f=not a<b
print(f)

True
True
False

In [ ]:
a="Hello "
b="World!"
c=a*5
print(c)
print(a*2+b)

Hello Hello Hello Hello Hello
Hello Hello World!

＊＊＊＊＊リスト、タプル、辞書

In [ ]:
a = [2011,2012,2013,2014,2015]
print(a[0],a[3],a[4])

2011 2014 2015

In [ ]:
b = 2016
c = [b,2017,"Hellol","Hi"]
print(c[1:4],c[0])

[2017, 'Hellol', 'Hi'] 2016

In [ ]:
d = [[2012,2013,2014],[2015,2016]]
print(d[0])
print(d[0:2])
print(d[0[1]])

[2012, 2013, 2014]
[[2012, 2013, 2014], [2015, 2016]]

TypeError: ignored

In [ ]:
b = 2016
c = [b,2017,"Hellol","Hi"]

c[1]=2022
print(c)

c.append(2021)
print(c)

[2016, 2022, 'Hellol', 'Hi']
[2016, 2022, 'Hellol', 'Hi', 2021]

In [ ]:
a = [1,2,3]
b = (4,5,6)

print(a,b)

print(a[1],b[2])

a[1] = 8
b[2] = 9
# b[2] = 9

[1, 2, 3] (4, 5, 6)
2 6

AttributeError: ignored

In [ ]:
a = {"taro":2015,"hanako":2016}
print(a["taro"])

a["hanako"] = 1999

a["jiro"] = 1992
print(a)

2015
{'taro': 2015, 'hanako': 1999, 'jiro': 1992}

＊＊＊＊＊If文、For文、While文

In [ ]:
a=5

if a==5:
  print("3+4=", 3+4)
else:
  print("3*4=", 3*4)

3+4= 7

In [ ]:
a=5

if a<4:
  print(3+4)
elif a>4:
  print(5*6)
else:
  print( 3*4)

30

In [ ]:
a = [1,2,3,4,5]
for i in a:
  print(i+10)

11
12
13
14
15

In [ ]:
for i in range(0,6):
  print(i*2)

0
2
4
6
8
10

In [ ]:
for i in b = [1,2,3]:
  print(i+5)

SyntaxError: ignored

In [ ]:
a=0
while a< 10:
  print(a)
  a += 1
b=0
while b!=10:
  print(b)
  b += 1

0
1
2
3
4
5
6
7
8
9
0
1
2
3
4
5
6
7
8
9

In [ ]:
a = []
for i in range(0,10):
  if i%2 == 0:
    a.append(i)

print(a)

[0, 2, 4, 6, 8]

＊＊＊＊＊関数

In [ ]:
def say_hello():
  print("Hello World!")

say_hello()

Hello World!

In [ ]:
def say_gm():
  print("good morning")

say_gm()
say_gm()
say_gm()

good morning
good morning
good morning

In [ ]:
def say_number(a):
  print(a)

say_number(123)

123

In [ ]:
def add(a,b,c):
  d = a + b+c
  print(d)

add(2,5,3)

10

In [ ]:
def get_number():
  a=123
  return a

b = get_number()
print(b)

123

In [ ]:
def add(a,b):
  c = a+b
  return c

result1 = add(3,4)
print(result1)
result2 = add(7,8)
print(result2)

7
15

＊＊＊＊＊変数のスコープ

In [ ]:
glob_1 =123

def a():
  loc_1 =456
  print(glob_1,loc_1)

a()
#print(loc_1)

123 456

In [ ]:
glob_1 =123

def a():
  loc_1 =456
  print(glob_1,loc_1)

a()
print(loc_1)

123 456

NameError: ignored

＊＊＊＊＊クラス

In [ ]:
class calc:     #クラス定義
  def add(self,a,b):    #メソッド記述
    print(a+b)

  def mult(self,a,b):
    print(a*b)

cl = calc()     #インスタンス化
cl.add(2,3)
cl.mult(4,5)

5
20

In [ ]:
class box:
  def set_num(self,n1,n2):
    self.num1 = n1    #インスタンス変数の書き方
    self.num2 = n2
bx = box()
bx.set_num(123,456)

print(bx.num1)
print(bx.num2)

bx.num1 = 999 #インスタンス変数の値変更
print(bx.num1)

123
456
999

In [ ]:
class dog:
  def set_dog(self, n, a):
    self.name = n
    self.age = a

shiba = dog()
shiba.set_dog("poti",10)

chiwawa = dog()
chiwawa.set_dog("meruru",4)

dogs = [shiba, chiwawa]
for d in dogs:
  print(d.name,d.age)

poti 10
meruru 4

In [ ]:
gmgn = "GM! GN!!"

with open("greetings.txt","w") as f:
  f.write(gmgn)

In [ ]:
with open("greetings.txt","r") as f:
  print(f.read())

GM! GN!!